* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 50px;
  font-size: 28px;
  color: #31343d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #31343d; /* Header background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header h1 {
  background-color: #3be5eb; 
  color: #31343d; 
  font-size: 70px;
  padding: 0 100px;
  border: 2px solid #3be5eb; 
  display: inline-block; 
  margin: 10; 
}

  nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 50px;
}

nav a {
  font-size: 30px;
  color: #3be5eb;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 5px solid #3be5eb;
}
