* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 50px;
  font-size: 28px;
  color: #31343d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #31343d; /* Header background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header h1 {
  background-color: #3be5eb; 
  color: #31343d; 
  font-size: 70px;
  padding: 0 100px;
  border: 2px solid #3be5eb; 
  display: inline-block; 
  margin: 10; 
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 50px;
}

nav a {
  font-size: 30px;
  color: #3be5eb;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 5px solid #3be5eb;
}

.hero-banner {
  background: url(/assets/images/02-hero-bg.jpg) center/cover no-repeat;
  height: 300px;
  position:relative;

}

.hero-content {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 200px;
  padding: 0px;
  background-color: #3be5eb;
  font-size: 30px;
  color: #31343d;
}

.page-wrapper {
  padding-left: 200px; 
  padding-top: 10px;

}

.page-section {
  display:flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 100px;
}

.page-section h2 {
  text-align: right;
  padding-top: 20px;
  min-width: 220px; 
  font-size: 60px;
  color: #31343d
}

.page-section::after {
  content: "";
  border-left: thick solid #31343d; 
  position: absolute; 
  top: 20px;
  bottom: 0;
  left:  230px; 
}

/* Work gridbox section */

.project-grid {
  width: 1800px;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 20px;
  padding: 20px;
}

.project1 {
  grid-column: span 2;
  position: relative;
}

.project-item {
  border: 7px solid #3be5eb;
  padding: 40px;
  background-size: cover;
  background-position: center no-repeat;
  position: relative;
  margin: 10px;
  transition: filter 0.3s;
  cursor: pointer;
  filter: grayscale(60%);
  
}

.project-description {
  position: absolute;
  bottom: 20px; /* Adjust the vertical position */
  left: 0; /* Adjust the horizontal position */
  color: black; /* Text color */
  background: #3be5eb; /* Background color with transparency */
  padding: 10px;
  border-radius: 0;
  width: auto;
  height: auto;
}


.project-description h3 {
  font-size: 30px;
  margin: 10px 0;
}

.project-description p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.project1 {
  background-image: url(/assets/images/horiseon.png.png);
}

.project2 {
  background-image: url(/assets/images/02-portfolio-2.jpg);
}

.project3 {
  background-image: url(/assets/images/02-portfolio-3.jpg);
}

.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1; /* Ensure it's on top of other elements */
}

.project-item:hover {
 filter: none;
}
